$primaryColor: #003349;
$secondaryColor: #33A0FF;
$fontBase: Arial;

.container {
  max-width: 900px;
  margin: auto;
}

.title {
  text-align: center;
  font-family: Arial;
  margin-top: 50px;
  margin-bottom: 50px;
}

.accordion {
  &__item {
    margin-bottom: 10px;

    &__header {
      background-color: $primaryColor;
      padding: 15px;
      cursor: pointer;
      position: relative;
      color: white;
      font-family: $fontBase;
      font-weight: 400;
      font-size: 20px;

      &::before {
        height: 15px;
        width: 15px;
        content: "";
        position: absolute;
        right: 15px;
        top: 15px;
        transition: 0.5s all;
        transform: rotate(45deg);
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }

      &.active {
        background-color: $secondaryColor;
        color: #fff;
        transition: 0.4s;

        &::before {
          transform: rotate(-135deg);
          top: 23px;
        }
      }
    }

    &__content {
      overflow-y: hidden;
      padding: 0;
      display: none;
    }

  }
}